body {
    background-color: white;
}

p {
    text-align: center;
}

header {
    
    background-color: whitesmoke;
    top: 0;
    position: sticky;
}

footer {
    text-align: center;
    background-color: whitesmoke;
    bottom: 0;
    position: sticky;
}